.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.card img {
  width: 50px;
  height: 50px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  background-color: #fe5d42;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.actions span {
  width: 20px;
  text-align: center;
  margin: 0 2px;
}
